{%- set hidden = hidden | default(value=false) -%}
{%- set header = header | default(value="Note") -%}

<div class="note-container">
  <details {% if not hidden %}open{% endif %} class="note-details">
    <summary class="note-header">
      {% if center | default(value=false) %}
      <div class="note-center">
        {{ header | markdown | safe }}
      </div>
      {% else %}
      <div class="note-icon">
        {{ header | markdown | safe }}
      </div>
      {% endif %}
    </summary>
    <div class="note-content">
      {{ body | markdown | safe }}
    </div>
  </details>
</div>
