{%- component note(header = "Note", hidden = false, center = false) -%}
<article class="note-container">
  <details {% if not hidden %}open{% endif %} class="note-details">
    <summary class="note-header">
      {% if center -%}
      <section class="note-center">
        {{ header | markdown | safe }}
      </section>
      {%- else -%}
      <section class="note-icon">
        {{ header | markdown | safe }}
      </section>
      {%- endif %}
    </summary>
    <section class="note-content">
      {{ body | safe }}
    </section>
  </details>
</article>
{%- endcomponent note -%}
